.weather__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    row-gap: 10px;
    padding: 20px;
    max-width: 1420px;
    margin: 0 auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.list__title {
    font-size: 28px;
    font-weight: 700;
    color: #1c1e26;
    text-align: center;
}
